# Exploratory Data Analysis

### import the database

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/hotel_bookings.csv')

### First I'll look at basic data characteristics to see what im working with exactly

In [3]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [5]:
df.shape

(119390, 32)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [7]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

### Now I can see that there is most likely problems with ADR since its negative at its lowest which it shouldn't be

### Check for nulls

In [8]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

### Right now I know that children and probably country have some truly missing data because agent and company are designed in a way where nulls are put there on purpose

### It's also worth checking to see if there are ghost records with no adults, as children can't get a room by themselves

In [9]:
df[df['adults'] < 0]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

### Now I'm checking if there are ghost records with no nights spent at the hotel

In [11]:
df['total_nights'] = (df['stays_in_weekend_nights'] + df['stays_in_week_nights'])
print(df[df['total_nights']== 0] )

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
167     Resort Hotel            0        111               2015
168     Resort Hotel            0          0               2015
196     Resort Hotel            0          8               2015
...              ...          ...        ...                ...
115483    City Hotel            0         15               2017
117701    City Hotel            0          0               2017
118029    City Hotel            0          0               2017
118631    City Hotel            0         78               2017
118963    City Hotel            0          1               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
167                  July                        28
168                  July                        28
196                  July                        28
...                   ...                       ...
115483               July                        27
117701             August                        32
118029             August                        33
118631             August                        34
118963             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
167                             6                        0
168                             6                        0
196                             7                        0
...                           ...                      ...
115483                          6                        0
117701                          8                        0
118029                         14                        0
118631                         23                        0
118963                         27                        0

        stays_in_week_nights  adults  ...  agent  company  \
0                          0       2  ...    NaN      NaN
1                          0       2  ...    NaN      NaN
167                        0       2  ...  240.0      NaN
168                        0       1  ...  250.0      NaN
196                        0       2  ...    NaN      NaN
...                      ...     ...  ...    ...      ...
115483                     0       1  ...   14.0      NaN
117701                     0       2  ...  262.0      NaN
118029                     0       2  ...    NaN      NaN
118631                     0       1  ...   98.0      NaN
118963                     0       2  ...    NaN      NaN

       days_in_waiting_list    customer_type  adr required_car_parking_spaces  \
0                         0        Transient  0.0                           0
1                         0        Transient  0.0                           0
167                       0        Transient  0.0                           0
168                       0        Transient  0.0                           0
196                       0        Transient  0.0                           0
...                     ...              ...  ...                         ...
115483                    0  Transient-Party  0.0                           0
117701                    0        Transient  0.0                           0
118029                    0        Transient  0.0                           0
118631                    0  Transient-Party  0.0                           0
118963                    0        Transient  0.0                           0

        total_of_special_requests  reservation_status  \
0                               0           Check-Out
1                               0           Check-Out
167                             2           Check-Out
168                             0           Check-Out
196                             1           Check-Out
...                           ...                 ...
115483                          0           Check-Out
117701                          0           Check-Out
118029                          0           Check-Out
118631                          0           Check-Out
118963                          0           Check-Out

        reservation_status_date total_nights
0                    2015-07-01            0
1                    2015-07-01            0
167                  2015-07-06            0
168                  2015-07-06            0
196                  2015-07-07            0
...                         ...          ...
115483               2017-07-06            0
117701               2017-08-08            0
118029               2017-08-14            0
118631               2017-08-23            0
118963               2017-08-27            0

[715 rows x 33 columns]

## Basic analysis summary:

### I can see that the data is mostly clean, also its clearly visible that many of the columns have no use in a general data analysis and are more useful for model training or a specific target.

### To continue with analysing this data, ill implement simple fixes here regarding data I deem broken (children,country,adr)

In [ ]:
df[df['country'].isna()]['country']
df_clean = df[df['country'].notna()]
df_clean.shape

In [ ]:
print(df['children'].unique())
df_clean = df_clean[df_clean['children'].notna()]
df_clean.shape

In [ ]:
df[df['adr'] < 0]

In [ ]:
df_clean = df_clean[df_clean['adr']>=0]
df_clean.shape

## Getting rid of the noise

### Another important thing to consider is what data is just noise for us, since I'm making a detailed overview without a specific point to focus on, I've decided to get rid of: agent,company,reservation_status,reservation_status_date,arrival_date_week_number,arrival_date_day_of_month,deposit_type,assigned_room_type,booking_changes,stays_in_weekend_nights,stays_in_week_nights